body{
    background-image: url(img/background-img.svg);
    margin: 0;
    padding: 0;
}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
    background-color: #ffbb00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px; /* Reduje el padding vertical para quitar espacios vacíos */
}

nav img {
    height: 60px; /* Compactando el tamaño general de imágenes */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0; /* ¡Vital! Esto elimina los espacios vacíos debajo y arriba provocados por el ul */
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Lilita One", sans-serif;
    font-size: 1.7rem; /* Lo reduje un poquito para que encaje mejor */
    font-style: normal;
    -webkit-text-stroke: 1.5px #000000; /* Contorno un poco más delgado acorde al tamaño */
}

nav ul li a:hover {
    color: #f39a00;
}