body{
    background-image: url(img/background-img.svg);
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffbb00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
}

header img {
    height: 60px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header ul li a {
    text-decoration: none;
    color: #000;
}